<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>

<body>
    <div id="app">
        <div>水果列表</div>
        <ul>
            <!-- <li v-for='item in fruits'>{{item}}</li> -->
            <!-- 下面是加上索引的显示方式 数组的索引都是从0开始的。-->
            <!-- <li v-for='(item, index) in fruits'>{{item + '---' + index}}</li> -->
            <!-- 这里key的作用：帮助VUE提高性能   （这样的写法也行。:key='index' v-for='(item, index) in myFruits'）-->
            <li :key='item.id' v-for='(item, index) in myFruits'>
                <span>{{item.ename}}</span>
                <span>---{{index}}--</span>
                <span>{{item.cname}}</span>
            </li>

        </ul>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
        /*
                                循环结构-遍历数组
                                  */
        var vm = new Vue({
            el: '#app',
            data: {
                fruits: ['apple', 'orange', 'banana'], //水果的数组。
                myFruits: [{
                    id: 1,
                    ename: 'apple',
                    cname: '苹果'
                }, {
                    id: 2,
                    ename: 'orange',
                    cname: '橘子'
                }, {
                    id: 3,
                    ename: 'banana',
                    cname: '香蕉'
                }],
            }
        });
    </script>
</body>

</html>